{% extends "web/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Home " %}{% endblock %}
{% block content %}
    <!-- +++++ Projects Section +++++ -->

    <div class="container pt">
        <div class="row mt centered">
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="{% static 'img/mail.png' %}" alt="" /></a>
                <p>1</p>
            </div>
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="{% static 'img/mail.png' %}" alt="" /></a>
                <p>2</p>
            </div>
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="{% static 'img/mail.png' %}" alt="" /></a>
                <p>3</p>
            </div>
        </div><!-- /row -->
        <div class="row mt centered">
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="{% static 'img/mail.png' %}" alt="" /></a>
                <p>4</p>
            </div>
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="{% static 'img/mail.png' %}" alt="" /></a>
                <p>5</p>
            </div>
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="{% static 'img/mail.png' %}" alt="" /></a>
                <p>6</p>
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
{% endblock %}
