{% load i18n %}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li><a href="{% url 'personal' %}?next={{ request.path }}">{% trans "Personal" %}</a></li>
            <li><a href="{% url 'corporate' %}?next={{ request.path }}">{% trans "Coporate" %}</a></li>
            <li><a href="{% url 'logout' %}?next={{ request.path }}">{% trans "Logout" %}</a></li>
        {% else %}
            <li><a href="{% url 'login' %}?next={{ request.path }}">{% trans "Login" %}</a></li>
            <li><a href="{% url 'register' %}?next={{ request.path }}">{% trans "Register" %}</a></li>
        {% endif %}
    </ul>
</div><!--/.nav-collapse -->