{% extends "web/base.html" %}
{% load i18n %}{% load staticfiles %}
{% block title %}{% trans "Register " %}{% endblock %}

{% block content %}
    <div class="container pt">
        <div class="sign_up_wrapper">
            <div class="sign_up_form">
                <form action="" method="POST" class="sign_form_class">
                    {% csrf_token %}
                    {{ form }}
                    </br>
                    <button class="sign_up_style__btn" type="submit">{% trans "Register" %}</button>
                </form>
                {% if error %}
                    <div class="login-error">{{ error }}</div>
                {% endif %}

                    <div class="login-error">{{ error }}</div>
            </div>
        </div>
    </div>

    <script src="{% static "js/jquery-3.1.1.js" %}"></script>
    <script type="text/javascript">
        $("#id_username").change(function () {
            var form = $(this).closest("form");
            $.ajax({
                url: "{% url 'check_username' %}",
                data: form.serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken) {
                        alert(data.error_message);
                    }
                }
            });
        });
    </script>




{% endblock %}